{% extends 'common/base.html' %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Tickets - Login
{% endblock %}

{% block navbar-contents %}
    {{ block.super }}
    <li><a href="{% url 'loginview' %}">Login</a></li>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if not user.is_authenticated %}
        {% breadcrumb "Login" "loginview" %}
    {% else %}
        More to come...
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div name="left-margin" class="col-md-4"><!-- Empty --></div>

    <div class="row">
        <div name="login" class="well-sm col-md-4" >

            <div name="login-title" class="text-center">
                <h3>Login</h3>
            </div>

            <form action="" method="post" name="loginForm">
                {% csrf_token %}
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <td>Your email:</td>
                        <td>{{ loginform.email }}</td>
                    </tr>
                    <tr>
                        <td>Your password:</td>
                        <td>{{ loginform.password }}</td>
                    </tr>
                    <tr>
                        {% if registrationActive %}
                        <td>
                            <input type="button" value="Register" name="registerSwitch" class="btn btn-info" />
                        </td>
                        {% endif %}
                        <td>
                            <input type="submit" value="Connection" name="loginGo"
                                   class="btn btn-success" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="register" class="well-sm">

        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block scriptBlock %}
    {{ block.super }}

    <script>
    function switchLoginRegister()
    {
        //TODO switch login register js
    }
    </script>
{% endblock %}

