{% extends 'common/base.html' %}

{% load staticfiles %}
{% load create_ticket_extras %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}

{% block title %}
    {% trans "Ticket - Creation" %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "homeview" %}
    {% breadcrumb "Update" "#" %}
    {% breadcrumb "Building Informations" "updatebuildingview" %}
{% endblock %}

{% block navbar-contents %}
    <li class="bg-info"><a href="{% url 'homeview' %}">{% trans "Home" %}</a></li>
    {% if user_info.isAdmin %}
        <li><a href="/admin/">{% trans "Admin Panel" %}</a></li>
    {% endif %}
    <li class="bg-danger"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="center-block" style="width: 90%; display: block;">
        <div class="well well-sm">
            <h2>{% trans "Update your building's informations" %}</h2></div>

        <table class="table table-responsive">
        {% if selectionForm != None %}
        <form action="{% url 'updatebuildingview' %}" method="post" style="display: block; width: 50%;" class="center-block" name="updateBuildingSelectorForm">
            {% csrf_token %}
                {{ selectionForm.as_table }}
                <td></td>
                <td>
                    <input type="submit" name="selected" value="{% trans "Select this building" %}" class="btn btn-success" />
                </td>
        </form>
        {% else %}
            <form action="{% url 'updatebuildingview' %}" method="post" style="display: block; width: 50%;" class="center-block" name="updateBuildingForm">
                {% csrf_token %}
                {{ buildingForm.as_table }}
                <td>
                </td>
                <td>
                    <input type="submit" name="doUpdate" value="{% trans "Update company informations" %}" class="btn btn-success">
                    <input type="submit" name="chooseAnother" value="{% trans "Choose another building" %}" class="btn btn-info" />
                    <input type="submit" name="cancelUpdate" value="{% trans "Cancel update company informations" %}" class="btn btn-danger" />
                    <input type="submit" name="releaseOwnership" value="{% trans "Release ownership of this location" %}" class="btn btn-danger" />
                </td>
            </form>
        {% endif %}
        </table>
    </div>

{% endblock %}
